{%  extends "layout.html.twig" %}
{% block contenu %}
    <div class="text-center">
        <h2>Bienvenue sur <span class="text-success ">mon petit MVC</span></h2>
        <p>Il n'y à pas grand chose à afficher pour le moment sur la page d'acceuil !</p>
    </div>
{% endblock %}