<html>
    <head>
        {% block header %}{% include '.\\include\\header.html.twig' %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% include '.\\include\\navbar.html.twig' %}{% endblock %}
        {%  block contenu %}{% endblock %}
        {% block error %}{% endblock %}
    </body>
    <footer class="container text-center ">
        {% block footer %} 
        {% include '.\\include\\footer.html.twig' %} 
        {% endblock %}
    </footer>
</html>
