
<div class="container">
    <h3>Rechercher</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="numero_client">Id des {{ objet }} </label>
            <select class="form-control" id="titre" name="id">
                {% for id in lesId %}
                    {%  if idObj and idObj == id['id'] %}
                        <option selected>{{ id['id'] }}</option>
                    {% else %}
                        <option>{{ id['id'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Voir" class="btn btn-default"/>
    </form>
    <div>
        {% if message %}
            {{ message }}
        {% endif %}

    </div>
</div>