{% extends "layouts\\layout.html.twig" %}
{% block content %}
<div class="container">
    <h2 class="text-center">FrameWork MVC </h2>
    <h4 class="text-center">
        1: Vider l'application de base, pour en garder que l'achitecture.
        <br>2: Créer le paquet composer, pour ensuite pouvoir créer des projets.
        <br>3: Faire une modification mineure, pour essayer l'update avec composer.
        <br>4: Faire une modification majeure, jouter le système de route de symfony.
        <br>5: Pour ensuite l'ajouter à composer</h4>

</div>
{% endblock %}