{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
        <p><h2> Liste des clients : {{ nombreClient }}</h2></p>
        {{ include('/blocks/arrayClient.html.twig') }}

</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}