<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-uppercase">id</span></th>
            <th scope="col">Date de commande</th>
            <th scope="col">Numéro de facture</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{commande.id}}</td>
                <td>{{commande.dateCde}}</td>
                <td>{{commande.noFacture}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
