<html>
    <head>
        {% block header %}{% include '.\\layouts\\include\\header.html.twig' %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% include '.\\layouts\\include\\navbar.html.twig' %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
    <footer>

    </footer>
</html>
